.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



main {
    flex: 1;
    padding: 2rem;
    max-width: var(--container-width);
    margin: 0 auto;
    width: 100%;
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #e0e0e0;
    font-size: 0.875rem;
}