<div class="dialog-header">
    <mat-icon color="primary" class="header-icon">add_photo_alternate</mat-icon>
    <h2 mat-dialog-title class="dialog-title">Añadir Nueva Foto</h2>
</div>
<mat-dialog-content class="custom-content">
    <div class="image-preview-container">
        <img [src]="data.previewUrl" alt="Vista previa de la foto" class="image-preview">
    </div>
    <mat-form-field appearance="outline" class="full-width mt-3">
        <mat-label>Título alternativo (Opcional)</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <input matInput [(ngModel)]="altText" placeholder="Ej: Foto de la competición de Gijón"
            (keyup.enter)="onSubmit()">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button class="btn-cancel" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" class="btn-submit" (click)="onSubmit()">
        <mat-icon>cloud_upload</mat-icon>
        Subir Foto
    </button>
</mat-dialog-actions>