<section class="hero" [style.backgroundImage]="heroBackground">
    <div class="hero-content">
        <h2>Bienvenido a Agility Asturias</h2>
        <p class="subtitle">Perretes y agility en Asturias.</p>
    </div>
</section>

<section class="history-section">
    <div class="container">
        <h3>Historia del Agility</h3>

        <div class="history-text">
            <p>El Agility es un deporte canino que se originó en el Reino Unido a finales de la década de 1970 y
                principios de la década de 1980. El primer evento de Agility tuvo lugar en 1978 en el Crufts Dog Show,
                uno de los mayores eventos de perros en el mundo.</p>

            <p>El creador del Agility fue John Varley, quien trabajaba como entrenador de perros en el Crufts Dog Show.
                Varley estaba buscando una forma de entretener a la audiencia durante los descansos entre las
                competiciones de obediencia y decidió crear un curso de obstáculos para perros.</p>

            <p>El curso de obstáculos original constaba de saltos, túneles y aros, y estaba diseñado para poner a prueba
                la agilidad y la velocidad de los perros. La primera competición de agility se llevó a cabo en 1978 en
                el Crufts Dog Show y fue un gran éxito entre los participantes y el público.</p>

            <p>A medida que el deporte creció en popularidad, se establecieron organizaciones de agility en todo el
                mundo, incluyendo el Kennel Club en el Reino Unido y la United States Dog Agility Association en los
                Estados Unidos.</p>

            <p>El agility se convirtió rápidamente en uno de los deportes caninos más populares del mundo, con miles de
                perros y sus dueños compitiendo en eventos y competiciones en todo el mundo. El deporte se ha
                diversificado en diferentes modalidades, como el jumping y la agilidad por equipos.</p>

            <p>Hoy en día, el agility es un deporte altamente competitivo que requiere una gran cantidad de
                entrenamiento y habilidades tanto por parte del perro como del manejador. A pesar de su naturaleza
                competitiva, también es un deporte muy divertido y emocionante para perros y dueños por igual.</p>
        </div>
    </div>
</section>