<div class="auth-container">
    <div class="auth-card">
        <div class="logo-area">
            <div class="logo-circle">
                <span class="material-icons">password</span>
            </div>
            <h2>Nueva Contraseña</h2>
            <p>Introduce tu nueva contraseña</p>
        </div>

        <div *ngIf="!successMessage()" class="auth-form-container">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="auth-form">

                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <div class="input-wrapper">
                        <span class="material-icons">lock</span>
                        <input type="password" id="password" formControlName="password" placeholder="••••••••">
                    </div>
                    <div class="error-text"
                        *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid">
                        Mínimo 6 caracteres.
                    </div>
                </div>

                <div class="form-group">
                    <label for="password_confirmation">Confirmar Contraseña</label>
                    <div class="input-wrapper">
                        <span class="material-icons">lock_outline</span>
                        <input type="password" id="password_confirmation" formControlName="password_confirmation"
                            placeholder="••••••••">
                    </div>
                    <div class="error-text"
                        *ngIf="resetForm.get('password_confirmation')?.touched && resetForm.hasError('mismatch')">
                        Las contraseñas no coinciden.
                    </div>
                </div>

                <div *ngIf="errorMessage()" class="error-message">
                    <span class="material-icons">error_outline</span>
                    {{ errorMessage() }}
                </div>

                <button type="submit" class="btn-primary" [disabled]="resetForm.invalid || isLoading()">
                    <span *ngIf="isLoading()" class="spinner"></span>
                    {{ isLoading() ? 'Guardando...' : 'Cambiar Contraseña' }}
                </button>
            </form>
        </div>

        <div *ngIf="successMessage()" class="success-message-container">
            <div class="success-icon">
                <span class="material-icons">check_circle</span>
            </div>
            <p>{{ successMessage() }}</p>
            <button class="btn-primary mt-3" routerLink="/login">Ir a Iniciar Sesión</button>
        </div>
    </div>
</div>