<div class="auth-container">
  <div class="auth-card">
    <div class="logo-area">
      <div class="logo-circle">
        <span class="material-icons">lock_reset</span>
      </div>
      <h2>Recuperar Contraseña</h2>
      <p>Te enviaremos un enlace por correo electrónico</p>
    </div>

    @if (!successMessage()) {
      <div class="auth-form-container">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="auth-form">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <div class="input-wrapper">
              <span class="material-icons">email</span>
              <input type="email" id="email" formControlName="email" placeholder="ejemplo@correo.com">
            </div>
            @if (forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid) {
              <div class="error-text">
                Introduce un correo electrónico válido.
              </div>
            }
          </div>
          @if (errorMessage()) {
            <div class="error-message">
              <span class="material-icons">error_outline</span>
              {{ errorMessage() }}
            </div>
          }
          <button type="submit" class="btn-primary" [disabled]="forgotForm.invalid || isLoading()">
            @if (isLoading()) {
              <span class="spinner"></span>
            }
            {{ isLoading() ? 'Enviando...' : 'Enviar Enlace' }}
          </button>
        </form>
        <div class="auth-footer">
          <p><a routerLink="/login">Volver a Iniciar Sesión</a></p>
        </div>
      </div>
    }

    @if (successMessage()) {
      <div class="success-message-container">
        <div class="success-icon">
          <span class="material-icons">mark_email_read</span>
        </div>
        <p>{{ successMessage() }}</p>
        <button class="btn-primary mt-3" routerLink="/login">Volver a Iniciar Sesión</button>
      </div>
    }
  </div>
</div>
