<IfModule mod_rewrite.c>
  RewriteEngine On
  # Si existe el archivo o directorio solicitado, ve a él
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # Si el recurso solicitado no existe, usa index.html
  RewriteRule ^ /index.html
</IfModule>
